{% if shouldShowCookieMessage %}
<div class="app-cookie-banner">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <p class="govuk-heading-m">Cookies on this website</p>

            <p class="govuk-body">We need this to control how cookies are handled. We cannot auto allow Analytics cookies to track anymore. Visitors must opt-in/out to analytics cookies</p>

            <button class="govuk-button">I'm OK with analytics cookies</button>  <button class="govuk-button">Don't use analytics cookies</button>

        </div>
    </div>
</div>
{% endif %}