
<aside class="app-related-items govuk-!-margin-top-5" role="complementary">
        <h3 class="govuk-heading-s">
            Recent news
        </h3>
<div class="govuk-grid-row">

{% if listOfNews.items.length > 0 %}

{% for news in listOfNews.items %}

<div class="govuk-grid-column-full gc-card-group__item">
        <div class="gc-card">
            <a class="gc-card__link-wrapper" href="/news/story/{{news.fields.slug}}">
                <div class="gc-card__content">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{news.fields.title}}</h3>
    
                    <p class="gc-card__description govuk-body-s">
                        <span>{{news.fields.publishedDate | date('DD MMMM YYYY') }}</span></p>
                </div>
            </a>
        </div>
    </div>

{% endfor %}
{% endif %}
<div class="govuk-grid-row">
</aside>