{% extends "layout.html" %}

{% block pageTitle %}
{{publication.fields.title}}
{% endblock %}


{% block pageDescription %}
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}
<!-- <section class="gc-hero">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Research and analysis</h1>
                <p class="govuk-body-l">Published research, analysis and statistics</p>
            </div>
        </div>
    </div>

</section> -->


    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">{{publication.fields.title}}</h1>
            </div>
        </div>
    </div>
    <div class="gc-hero-meta">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                     <a href="/research-and-analysis/" class="govuk-back-link">Back to Advice and Publications</a>
                </div>
               
            </div>
        </div>
    </div>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Details</h2>
            <p class="govuk-body">{{publication.fields.summary}}</p>


            <h2 class="govuk-heading-m">Documents</h2>

            {% for i in publication.fields.files %}
            <section class="attachment embedded govuk-!-margin-bottom-5">
                <span class="govuk-visually-hidden">Article {{loop.index}} of
                    {{i.items.length}}</span>
                <div class="attachment-thumb">
                    <a aria-hidden="true" class="thumbnail" href="{{i.fields.file.url}}"
                        target="_Blank"><img alt="" src="/public/images/pdf.png"></a>
                </div>
                <div class="attachment-details  ">
                    <h2 class="govuk-heading-m"><a href="{{i.fields.file.url}}"
                            target="_Blank">{{i.fields.title}}</a></h2>
                    <p class="metadata">
                        <span class="govuk-!-padding-right-5">
                            {{i.fields.file.contentType.split('/')[1] | upper}}</span><span>{{i.fields.file.details.size | filesizeformat}}</span>
                    </p>
                   

                </div>
            </section>

            {%endfor%}

            <h3 class="govuk-heading-m govuk-!-margin-top-9">
                Need these in an accessible format?
             </h3>

            <p class="govuk-body-s">Some files may not be suitable for users of assistive technology. <a
                href="/contact-us">Request an accessible format</a>, it would help us to know what technology you use and what format you require the document in.</p>

        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items govuk-!-margin-top-5" role="complementary">
               
              


                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                   Published date
                </h3>
<p>{{publication.fields.publishedDate | date('DD MMMM YYYY')}}</p>


                  
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    Updated date
                 </h3>

                    <p>{{publication.sys.updatedAt | date('DD MMMM YYYY')}}</p>


                  
              

          
            </aside>
            {% include "includes/sharethis.html" %}

           
        </div>
  

    </div>
    {% endblock %}