{% extends "layout.html" %}

{% block pageTitle %}
What we do
{% endblock %}


{% block pageDescription %}
Information about what we do, who is on the ABSG Board, meetings and our governance.
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">What we do</h1>
            <p class="govuk-body-l">Information about what we do, who is on the ABSG Board, meetings and our governance.
            </p>
        </div>
    </div>
</div>

<style>
    .govuk-main-wrapper {
        padding-top: 0px
    }
</style>

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-8" style="  background:  url('/public/images/meeting.jpg'); 
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover; 
        object-fit: cover;">
    <div class="bg-cover">
        <div class="govuk-width-container">
            <div
                class="govuk-grid-column-full panel-block-container__white govuk-!-margin-top-9 govuk-!-margin-bottom-9">

                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-full">

                        <div class="govuk-grid-column-one-half">
                            <h2 class="govuk-heading-m">Our values</h2>
                            <ul>
                                <li>integrity - we are honest, we listen to others and consider carefully diverse
                                    views&nbsp;</li>
                                <li>transparency - we are open</li>
                                <li>excellence - we are committed to high standards</li>
                                <li>collaborative - we work with others to reduce harm</li>
                            </ul>
                        </div>


                        <div class="govuk-grid-column-one-half">

                            <img src="/public/images/new-strat.jpg"
                                style="max-width:100%; width: 100%; border-radius: 5px" alt="Picture of a mug">




                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>

<div class="govuk-width-container">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l">Contents</h2>
            <ul class="govuk-list">
                <li>
                    — Overview
                </li>
                <li>
                    — <a class="govuk-link" href="/about-us/board-members">Board members</a>
                </li>
                <li>
                    — <a class="govuk-link" href="/about-us/board-minutes">Board meetings and minutes</a>
                </li>
                <li>
                    — <a class="govuk-link" href="/about-us/governance">Governance</a>
                </li>
            </ul>

            <h2 class="govuk-heading-m">Overview</h2>
            <p class="govuk-body">The ABSG is an independent, expert advisory board which:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>helps deliver the National Strategy to Reduce Gambling Harms</li>
                <li>helps increase research capacity and capability through engaging with a wide range of experts</li>
                <li>helps share findings about best practice so they have an impact</li>
                <li>helps solve policy dilemmas where research evidence is lacking or ambiguous.&nbsp;</li>
            </ul>






            <h2 class="govuk-heading-m">How we do this</h2>

            <p class="govuk-body">We work by:</p>
            <ul>
                <li>providing independent advice to the Gambling Commission on the implementation of the National
                    Strategy to Reduce Gambling Harms</li>
                <li>monitoring progress of the Strategy&nbsp;</li>
                <li>recommending priorities for research&nbsp;</li>
                <li>strengthening prevention and treatment through robust research, evaluation and practice&nbsp;</li>
                <li>working collaboratively with others who have expertise, bringing them together to discuss issues of
                    mutual concern.&nbsp;</li>
            </ul>







        </div>

    </div>


</div>


<div class="govuk-width-container">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">




            <h2 class="govuk-heading-m">How we're funded</h2>
            <p class="govuk-body">The Advisory Board for Safer Gambling is funded, and is provided with secretariat
                support by the Gambling Commission.</p>




            <div class="govuk-!-margin-top-9">

                <a href="/about-us/board-members">
                    <div class="gc-search-pagination-right">
                        <span class="govuk-!-font-weight-bold">
                            Next &gt;</span>
                        <br>
                        <span class="">Board members
                        </span>

                    </div>
                </a>

            </div>


        </div>




    </div>


</div>
{% endblock %}