{% extends "layout.html" %}

{% block pageTitle %}
{{content_page.items[0].fields.title}}
{% endblock %}

{% block pageDescription %}
{{content_page.items[0].fields.summary}}
{% endblock %}



{% block heroContent %}
<section class="gc-hero">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{content_page.items[0].fields.title}}</h1>
                <p class="govuk-body-l">{{content_page.items[0].fields.summary}}</p>
            </div>
        </div>
    </div>
    <div class="gc-hero-meta">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
             
                <div class="govuk-grid-column-one-quarter">
                    <span class="govuk-!-font-weight-bold">Published date</span>
                    <br />
                    {{content_page.items[0].fields.publishedDate | date('DD MMMM YYYY')}}
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <span class="govuk-!-font-weight-bold">Updated date</span>
                    <br />
                    {{content_page.items[0].sys.updatedAt | date('DD MMMM YYYY')}}
                </div>   
                <div class="govuk-grid-column-one-quarter">
                    <span class="govuk-!-font-weight-bold">Part of</span>
                    <br />
                    <a href="/news">News</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% markdown %}
        {{content_page.items[0].fields.storyBody | safe}}
        {% endmarkdown %}
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h3 class="govuk-heading-s" id="subsection-title">
                Share this
            </h3>

            <a name="Share to facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.rgsb.org.uk/News/2020/ABSG-welcomes-two-new-members-to-its-board-Cath-Cooney-and-Dr-Jane-West.aspx" target="_blank">
               <svg class="facebook" role="img" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Facebook icon</title>
                        <path
                            d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z" />
                    </svg>
                    <span class="govuk-visually-hidden">Share to facebook</span>
                </a>

            <a name="Share to twitter" href="https://twitter.com/intent/tweet?text={{content_page.items[0].fields.title}} https://www.rgsb.org.uk/News/2020/ABSG-welcomes-two-new-members-to-its-board-Cath-Cooney-and-Dr-Jane-West.aspx" target="_blank">
                <svg class="twitter" role="img" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Twitter icon</title>
                        <path
                            d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z" />
                    </svg>
                    <span class="govuk-visually-hidden">Share to twitter</span>
               </a>
        </aside>
    </div>

</div>
{% endblock %}