{% extends "layout.html" %}

{% block pageTitle %}
About us
{% endblock %}


{% block pageDescription %}
Board members, meetings and governance
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}
<section class="gc-hero">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">About us</h1>
                <p class="govuk-body-l">Board members, meetings and governance</p>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Board members</h2>
        <p class="govuk-body">The board members are appointed by the Gambling Commission. There are up to eleven
            members, including a Chair, with a wide range of expertise. They are:</p>

        tk

        <h2 class="govuk-heading-m">Board minutes, terms of reference and register of interests</h2>
        <p class="govuk-body">tk</p>

        <h2 class="govuk-heading-m">Board meetings</h2>
        <p class="govuk-body">tk</p>

        <h2 class="govuk-heading-m">Code of Conduct and Conflict of Interest policy</h2>
        <p class="govuk-body">tk</p>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>


</div>
</div>
{% endblock %}