{% extends "layout.html" %}

{% block pageTitle %}
Contact us
{% endblock %}


{% block pageDescription %}
Contact the ABSG
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}
<section class="gc-hero">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Contact us</h1>
                <p class="govuk-body-l">General queries for the ABSG</p>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Email:</h2>
        <p class="govuk-body"><a href="mailto:info@absg.org.uk">info@absg.org.uk</a></p>

        <h2 class="govuk-heading-m">Phone:</h2>
        <p class="govuk-body">0121 230 6666</p>

        <h2 class="govuk-heading-m">Address:</h2>
        <p class="govuk-body">
            <address>
                ABSG (care of the Gambling Commission)<br>
                Victoria Square House<br>
                Birmingham<br>
                B2 4BP<br>
                United Kingdom
            </address>
        </p>

        <p class="govuk-body"><a href="https://goo.gl/maps/xUKQu7aeYKcMEh439" target="_blank">Map of our office location</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>

</div>
</div>
{% endblock %}