{% extends "layout.html" %}

{% block pageTitle %}
Contact us
{% endblock %}


{% block pageDescription %}
Details for how to contact the ABSG
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Contact us</h1>
                <p class="govuk-body-l">Details for how to contact the ABSG</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <div class="gc-alert gc-alert--success">
                <h1 class="govuk-heading-l">We've got your message</h1>
                <p class="govuk-body">
                    We will aim to reply within 5 working days.
                </p>


            </div>

            <p class="govuk-body"><a href="/contact-us/">Return to the contact page</a></p>
            <p class="govuk-body"><a href="/">Return to the ABSG homepage</a></p>

        </div>

    </div>
</div>
{% endblock %}