{% extends "layout.html" %}

{% block pageTitle %}
Homepage
{% endblock %}

{% block pageDescription %}
We provide independent advice with the aim of achieving a Great Britain free from the consequences of gambling-related
harms.
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">We provide independent advice to the Gambling
        Commission</h1>
      <p class="govuk-body-l  govuk-!-margin-bottom-9">Our aim is to achieve a Great Britain free from the consequences of gambling-related
        harms.
      </p>
    </div>
  </div>
</div>


{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="gc-section govuk-!-padding-bottom-9">


  <div class="govuk-width-container">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Latest news from the ABSG</h2>
        <div class="govuk-grid-row">
          <div class="gc-card-group govuk-!-margin-bottom-2">

            {% include "./includes/latestNewsList.html" %}

          </div>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          <a href="/news/">More news</a>
        </p>
      </div>

    </div>
  </div>

</div>


<div class="govuk-grid-row gc-section gc-section--alt">
  <div class="govuk-width-container">


    <div class="govuk-grid-column-full panel-block-container__white">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">


          <h2 class="govuk-heading-m">The National Gambling Helpline</h2>
        </div>

        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">The National Gambling Helpline provides confidential information, advice and support for
            anyone affected by problem gambling in England, Scotland and Wales.</p>

          <p class="govuk-body govuk-!-padding-bottom-0">
            <a class="govuk-button govuk-button--warning govuk-!-margin-bottom-0"
              href="https://www.reducinggamblingharms.org" target="_Blank">Get help online</a>

          </p>
        </div>
        <div class="govuk-grid-column-one-half">

          <p class="govuk-body govuk-!-margin-bottom-0 ">Call the helpline on</p>

          <p class="govuk-heading-l govuk-!-padding-top-2">
            0808 8020 133

          </p>


        </div>
      </div>

    </div>





  </div>
</div>

{% endblock %}