<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>

    <meta charset="utf-8" />
    <title>{% block pageTitle %}{% endblock %} - Advisory Board for Safer Gambling
    </title>
    <meta name="description" content="{% block pageDescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-57x57.png?v=2">
    <link rel="apple-touch-icon" sizes="60x60"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-60x60.png?v=2">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-72x72.png?v=2">
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-76x76.png?v=2">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-114x114.png?v=2">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-120x120.png?v=2">
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-144x144.png?v=2">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-152x152.png?v=2">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-180x180.png?v=2">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://gc-frontend-cdn.azurewebsites.net/images/public/android-icon-192x192.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="96x96"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon-96x96.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon-16x16.png?v=2">
    <link rel="manifest" href="https://gc-frontend-cdn.azurewebsites.net/public/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
        content="https://gc-frontend-cdn.azurewebsites.net/public/images/ms-icon-144x144.png?v=2">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon.ico?v=2" type="image/x-icon">
    <link rel="stylesheet" href="/public/nhs/css/nhsuk-3.0.2.min.css">
    <!--[if !IE 8]><!-->
    <link href="https://gc-frontend-cdn.azurewebsites.net/public/stylesheets/application.css" rel="stylesheet" />
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if IE 8]>
        <link href="https://gc-frontend-cdn.azurewebsites.net/public/stylesheets/application-ie8.css" rel="stylesheet" />
      <![endif]-->

    <!--[if lt IE 9]>
        <script src="/html5-shiv/html5shiv.js"></script>
      <![endif]-->
    <!-- Styles -->


    <!-- Scripts -->
    <script src="/public/nhs/js/nhsuk-3.0.2.min.js" defer></script>

    <meta name="copyright" content="Advisory Board for Safer Gambling" />
    <meta name="robots" content="index,follow" />

    {% block pageMeta %}{% endblock %}
    <meta property="og:site_name" content="Advisory Board for Safer Gambling" />
    <meta property="og:locale" content="en_GB" />


    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-140145199-4', 'auto');

        // Replace the following lines with the plugins you want to use.
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'urlChangeTracker');
        ga('require', 'maxScrollTracker');
        ga('require', 'pageVisibilityTracker');
        ga('require', 'cleanUrlTracker');

        ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script async src="/public/javascripts/autotrack.js"></script>

</head>

<body class="govuk-template__body app-body-class">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <!-- <header class="gc-header {% block heroClass %}{% endblock%}" role="banner" data-module="govuk-header">
        <div class="gc-header-container govuk-width-container">
            <div class="gc-header-logo">
                <a href="/"  ga-event-category="click" ga-event-action="click" ga-event-label="Logo" name="Logo">
                    <img src="/public/images/logo.png" class="gc-logo" alt="ABSG logo">
                </a>
            </div>
            <div class="gc-header-content ">
                <div class="gc-register-search">
                    <form method="POST" action="results">
                        <label for="search" class="govuk-label">
                            <p id="search-hint" class="govuk-visually-hidden">
                                Search the website
                            </p>
                        </label>

                        <div class="inner-form govuk-!-margin-bottom-3">
                            <div class="input-field second-wrap">
                                <input id="search" name="search" type="text" placeholder="Search" />
                            </div>
                            <div class="input-field third-wrap">
                                <button class="btn-search" type="submit"  ga-event-category="Search" ga-event-action="Search" ga-event-label="Header" name="Search"><span class="govuk-visually-hidden">Search the
                                        website</span>
                                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <nav class="gc-site-menu">
            <ul class="menu">
                <li><a href="/" class="{{homeactive}}" ga-on="click" ga-event-category="Top Nav"  ga-event-action="Click" ga-event-label="Home" name="Home">Home</a></li>
                <li><a href="#" ga-on="click" ga-event-category="Top Nav" ga-event-label="About us" ga-event-action="Click" name="About us">About us</a></li>
                <li><a href="#" gga-on="click" ga-event-category="Top Nav" ga-event-label="Research and Analysis" name="Research and Analysis">Research and Analysis</a></li>
                <li><a href="/news" class="{{newsactive}}"  ga-on="click" ga-event-category="Top Nav" ga-event-action="Click" ga-event-label="News" name="News">News</a></li>
                <li><a href="/contact" ga-on="click" ga-event-category="Top Nav" ga-event-action="Click" ga-event-label="Contact us" name="Contact us">Contact us</a></li>
            </ul>
        </nav>

    </header> -->

    <header class="nhsuk-header" role="banner">
        <div class="nhsuk-width-container nhsuk-header__container">
            <div class="nhsuk-header__logo">


                <a href="/" ga-event-category="click" ga-event-action="click" ga-event-label="Logo" name="Logo">
                    <img src="/public/images/logo.png" alt="ABSG logo" class="nhsuk-logo">
                </a>

            </div>

            <div class="nhsuk-header__content" id="content-header">

                <div class="nhsuk-header__menu">
                    <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
                        aria-label="Open menu">Menu</button>
                </div>

                <div class="nhsuk-header__search">
                    <button class="nhsuk-header__search-toggle" id="toggle-search" aria-controls="search"
                        aria-label="Open search">
                        <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path
                                d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                            </path>
                        </svg>
                        <span class="nhsuk-u-visually-hidden">Search</span>
                    </button>
                    <div class="nhsuk-header__search-wrap" id="wrap-search">
                        <form class="nhsuk-header__search-form" id="search" action="/search/"
                            method="get" role="search">
                            <label class="nhsuk-u-visually-hidden" for="search-field">Search the ABSG website</label>
                           
                            <input class="nhsuk-search__input" id="search-field" name="q" type="search"
                                placeholder="Search" autocomplete="off">
                            <button class="nhsuk-search__submit" type="submit">
                                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                    <path
                                        d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                                    </path>
                                </svg>
                                <span class="nhsuk-u-visually-hidden">Search</span>
                            </button>
                            <button class="nhsuk-search__close" id="close-search">
                                <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                    <path
                                        d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                                    </path>
                                </svg>
                                <span class="nhsuk-u-visually-hidden">Close search</span>
                            </button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

        <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation"
            aria-labelledby="label-navigation">
            <div class="nhsuk-width-container">
                <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
                    <button class="nhsuk-header__navigation-close" id="close-menu">
                        <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            aria-hidden="true" focusable="false">
                            <path
                                d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                            </path>
                        </svg>
                        <span class="nhsuk-u-visually-hidden">Close menu</span>
                    </button>
                </p>
                <ul class="nhsuk-header__navigation-list">
                    <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile">
                        <a class="nhsuk-header__navigation-link" href="/">
                            Home
                            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li class="nhsuk-header__navigation-item">
                        <a class="nhsuk-header__navigation-link" href="/about-us">
                            About Us
                            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li class="nhsuk-header__navigation-item">
                        <a class="nhsuk-header__navigation-link" href="/research-and-analysis">
                            Research and analysis
                            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li class="nhsuk-header__navigation-item">
                        <a class="nhsuk-header__navigation-link" href="/news">
                            News and updates
                            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li class="nhsuk-header__navigation-item">
                        <a class="nhsuk-header__navigation-link" href="contact-us">
                            Contact Us
                            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                                </path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    {% block heroContent %}{% endblock %}
    <section>
        <div class="govuk-width-container">
            {% block beforeContent %}{% endblock %}
        </div>
    </section>
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <div class="govuk-width-container">
            {% block content %}{% endblock %}</div>
    </main>



    <section>
        <div class="gc-footer-top">
            <div class="govuk-width-container">
                <a class="gc-return-to-top" href="#">
                    Back to top <span class="govuk-visually-hidden">of the page</span></a>
            </div>
        </div>
    </section>
    <footer class="gc-footer " role="contentinfo">
        <div class="govuk-width-container ">



            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h3 class="govuk-visually-hidden">Support links</h3>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <ul class="govuk-list">
                                <li><a class="govuk-footer__link" href="/" ga-event-category="click"
                                        ga-event-action="click" ga-event-label="Footer" name="Home">Home</a></li>
                                <li><a class="govuk-footer__link" href="#" ga-event-category="click"
                                        ga-event-action="click" ga-event-label="Footer" name="About us">About us</a
                                        class="govuk-link"></li>
                                <li><a class="govuk-footer__link" href="#" ga-event-category="click"
                                        ga-event-action="click" ga-event-label="Footer"
                                        name="Research and Analysis">Research and Analysis</a class="govuk-link">
                                </li>
                                <li><a class="govuk-footer__link" href="/news" ga-event-category="click"
                                        ga-event-action="click" ga-event-label="Footer" name="News">News</a></li>
                                <li><a class="govuk-footer__link" href="/contact" ga-event-category="click"
                                        ga-event-action="click" ga-event-label="Footer" name="Contact us">Contact us</a
                                        class="govuk-link"></li>
                            </ul>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            <ul class="govuk-list">
                                <li><a class="govuk-footer__link" href="/" ga-event-category="click"
                                        ga-event-action="click" ga-event-label="Footer"
                                        name="Related organisations">Related organisations</a></li>
                                <li><a class="govuk-footer__link" href="#" ga-event-category="click"
                                        ga-event-action="click" ga-event-label="Footer"
                                        name="Gambling Commission">Gambling Commission</a></li>
                            </ul>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">National Gambling Helpline</h3>
                            <p class="govuk-body">0808 8020 133</p>
                        </div>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/accessibility" target="_Blank" rel="noopener"
                                ga-event-category="click" ga-event-action="click" ga-event-label="Footer"
                                name="Accessibility statement">
                                Accessibility statement
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link"
                                href="https://www.gamblingcommission.gov.uk/Footer/Privacy-and-cookies.aspx"
                                target="_Blank" rel="noopener" ga-event-category="click" ga-event-action="click"
                                ga-event-label="Footer" name="Privacy and cookies">
                                Privacy and cookies
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link"
                                href="https://www.gamblingcommission.gov.uk/Footer/Terms-and-conditions.aspx"
                                target="_Blank" rel="noopener" ga-event-category="click" ga-event-action="click"
                                ga-event-label="Footer" name="Terms and conditions">
                                Terms and conditions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://gc-frontend-cdn.herokuapp.com/public/javascripts/jquery-1.11.3.js"></script>
    <script src="https://gc-frontend-cdn.herokuapp.com/public/javascripts/all.js"></script>
    <script src="https://gc-frontend-cdn.herokuapp.com/public/javascripts/application.js"></script>
</body>

</html>